@import "../../styles/variables.scss";

#all-notes-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;

  #title-all-notes {
    width: 100%;
    text-align: justify;
    color: $color-text-title;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .all-notes {
    background-color: $background-secundary;
  }
}

@media (min-width: 768px) {
  #all-notes-container {
    padding: 1rem 6rem;
  }
}

@media (min-width: 1000px) {
  #all-notes-container {
    .all-notes-list-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
}

@media (min-width: 1900px) {
  #all-notes-container {
    .all-notes-list-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
