@import "../../styles/variables.scss";

#header {
  background: $background-secundary;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 57px;

  #logo-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    #logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      color: #455a64;

      h1 {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    #search {
      #search-annotations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: $box-shadow-one;
        height: 28px;
        width: 180px;
        padding: 0 10px;

        input {
          border: none;
          color: #9e9e9e;
          width: 90%;
          height: 100%;
          font-weight: 500;
        }

        button {
          border: none;
          color: #9a9a9a;
          background-color: transparent;
          width: max-content;
          text-align: end;
        }

        .icon-search:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #header {
    #logo-search-container {
      gap: 1.5rem;

      #search {
        #search-annotations {
          width: 530px;
        }
      }
    }
  }
}
