@import "../../styles/variables.scss";

#favorite-notes-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;

  #title-favorite-notes {
    width: 100%;
    text-align: justify;
    color: $color-text-title;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .favorite-notes-list-container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  #favorite-notes-container {
    padding: 1rem 6rem;
  }
}

@media (min-width: 1000px) {
  #favorite-notes-container {
    .favorite-notes-list-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
}

@media (min-width: 1900px) {
  #favorite-notes-container {
    .favorite-notes-list-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
